{% extends "base.html" %}
{% from "components/macros/success_macros.html" import info_field, success_buttons %}
{% block title %}Course Profile Created{% endblock %}

{% block content %}
    <h2>Course Successfully Added</h2>

    {{ info_field('Course Name', course.course_name) }}
    {{ info_field('Course Code', course.course_code) }}
    {{ info_field('Course Description', course.course_desc) }}
    {{ info_field('Target Audience', course.target_audience) }}
    {{ info_field('Duration in Weeks', course.duration_in_weeks) }}
    {{ info_field('Prerequisites Course(s)', course.prerequisites) }}
    {{ info_field('Corequisite Course(s)', course.corequisites) }}
    {{ info_field('Number of Credits', course.credit_hours) }}
    {{ info_field('Profile Status', course.profile_status) }}

    {{ success_buttons('create_course_profile', 'Add Another Course',
                       'course_management', 'Course Management Menu') }}
{% endblock %}